/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');

/*Asterisk wildcard selector to override default styles added*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*body*/
body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    /*Generic project style*/
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/*header*/
header {
    display: flex;
    z-index: 100;
    position: fixed;
    width: 100%;
    box-shadow: 0 2px 1px #3a3a3a;
    background-color: #ffffff;
    padding: 0 1rem;
    align-items: baseline;
    justify-content: space-between;   
}

header a {
    text-decoration: none;
    color: inherit;  
}

#page-title {
    font-family: 'Times New Roman', Times, serif;
    color: black;
    margin-left: 8px;
    font-size: 2rem;
    font-weight: bold;
}

/*Navbar*/
nav {
    position:absolute;
    width: 100%;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    background-color: white;
    display: none;
    left: 0;
    top: 100%;
}

nav ul {
    list-style: none;
    text-align: end;
    padding: 0;
    margin: 0;
}

nav a {
    color: black;
    display: block;
    text-align: left;
}

nav a:hover {
    background-color: #a19c9c;
}

/*Navbar toggle*/
#nav-toggle:checked ~ nav {
    display: block;
}

.nav-toggle-label {
    font-size: 2rem;
}

#nav-toggle {
    display: none;
}

#menu {
    list-style-type: none;
    font-size: 100%;
}

#menu > li {
    margin-bottom: 1em;
}

/*Main content*/
main {
    /*Main element is taking up surplus space and pushing the footer down*/
    flex: 1 0 auto;
    margin-top: 60px;
}
/*Hero image section*/
#hero {
    height: 80vh;
    width: 100%;
    background: url("../images/hero-image.webp") no-repeat center center/cover;
}

#cover-text h1, h2 {
    font-family: 'Times New Roman', Times, serif;
    margin-left: 15px;
}

#cover-text {
    background: rgba(82, 80, 80, 0.7); 
    color: white; 
    padding: 10px; 
    display: inline-block;
    border-radius: 5px;
    width: 100%;
    position: absolute;
    top: auto;
}

/*Main section for about.html site*/
#about-jessy {
    background-color: #c3a4ba;
}

#my-journey {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: white;
    padding: 15px;
}

#about-me p {
    font-family: 'Lato', sans-serif;
    padding: 10px;
    font-size: large;
    text-align: center;
    color: black;
}

/*Detail section for about.html site*/

#win-getaway {
    background-color: #bd7e93;
}

#win-getaway h2 {
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

/*Form for about.html site*/
.custom-button {
    background-color: white;
    border: #a19c9c;
    color: black;
}

/*Main section for travel.html site*/
.travel h1 {
    font-family: 'Times New Roman', Times, serif;
}

.travel {
    text-align: center;
    color: black;
    padding: 20px;
}

/*Footer*/
footer {
    background-color: white;
}

#social-networks-icon {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    text-align: center;
    list-style-type: none;
}

#social-networks-icon i {
    color: black;
    font-size: x-large; 
}

/*fix card img*/
.card-img-top {
    object-fit: cover;
    height: 500px
}


/*Media query: tablets (768px and up)*/
@media screen and (min-width: 768px) {
   /* Header */ 
   nav {
    display: block;
    position: relative;
    width: fit-content;
    padding-right: 1rem;
    box-shadow: none;
   }

   #menu {
    display: flex
   }

   #menu > li {
    padding-left: 2rem;
    font-size: large;
   }

   .nav-toggle-label {
    display: none;
   }

   /*Hero*/
   #cover-text {    
    width: 30%;
    right: 0.9%;
    top: 100px;
   }
 
   .card-img-top {
    object-fit: cover;
    min-height: auto;
    }
}

/*Media query: (laptops 992px and up)*/
@media screen and (min-width: 992px) {
    #menu a:hover{
        border-bottom: 1px solid #a19c9c;
    }

    /*Hero*/
   #cover-text {    
    width: 20%;
    top: 70px;
    left: 0.9%;
   }

   /*Main section for travel.html site*/
   .card-img-top {
    object-fit: cover;
   }
}