/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');

/*Asterisk wildcard selector to override default styles added*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*body*/
body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    background-color: rgb(253, 253, 252);
    /*Generic project style*/
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

nav ul {
    list-style: none;
    background-color: lightgray;
    text-align: center;
    padding: 0;
    margin: 0;
}

nav li {
    font-size: 1.3em;
    line-height: 50px;
    height: 50px;
    display: inline-block;
    margin: 2.0%;
}

nav a {
    text-decoration: none;
    color: black;
    display: block;
}

nav a:hover {
    background-color: white;
}

/*Main content*/
main {
    /*Main element is taking up surplus space and pushing the footer down*/
    flex: 1 0 auto;
}

/*Footer*/
footer {
    background-color: lightgray;
}